*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3AA9FD;
    font-family: 'Secular One', sans-serif;
}

#header-box{
    height: 70px;
    background-color: white;
}

#logo{
    padding: 10px;
    vertical-align: middle;
}

#header-text{
    font-size: 40px;
    vertical-align: middle;
    font-weight: bold;
    color: #051731;
}

.container {
    height: 620px;
    width: 894px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 1%;
    padding-top: 10px;
    padding-left: 40px;
}

.button{
    padding: 3px 8px 3px 8px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-weight: bold;
}

.blu-b{
    background-color: #38A9F3;
}

.white-b{
    background-color: white;
}

.conteiner-text h1::before{
    content:'\2714'
}

.conteiner-text{
    margin-top: 30px;
}

.conteiner-text h1{
    margin-top: 15px;
}

.checkmark::before{
    font-size: 8px;
    padding: 1px 3px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;
}

ul{
    list-style-type: none;
    margin-top: 8px;
}

li{
    margin-top:10px;
}

.done::before{
    color: #00C1A5;
    content:'\2714';
}

.undone::before{
    color:red;
    content:'\2715'
}

.description{
    font-size: 10px;
    border: 1px solid;
    padding: 2px 5px;
    border-radius: 10px;
    color: white;
}

.description.blu{
    background-color: #38A9F3;
}

.description.violet{
    background-color:#AB5DE4 ;
}

.description.green{
    background-color:#2AC5AB;
}

.description.orange{
    background-color:#F99A0E;
}

.description.peas-green{
    background-color:#A1D021;
}

.description.pink{
    background-color:#EB4A9B;
}