*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3AA9FD;
}

#header-box{
    height: 70px;
    background-color: white;
}

#logo{
    padding: 10px;
    vertical-align: middle;
}

#header-text{
    font-size: 40px;
    vertical-align: middle;
    font-weight: bold;
    color: #051731;
}

.container {
    height: 620px;
    width: 894px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 1%;
    padding-top: 10px;
    padding-left: 40px;
}


.button{
    padding: 3px 8px 3px 8px;
    border: 1px solid lightgrey;
    border-radius: 10%;
    font-weight: bold;
}

.blu-b{
    background-color: #38A9F3;
}

.white-b{
    background-color: white;
}

.conteiner-text h1::before{
    content:'\2714'
}

.conteiner-text{
    margin-top: 30px;
}

.conteiner-text div{
    display: inline-block;
    margin-top: 5px;
}
.checkmark::before{
    content:'\2714';
}

.checkmark{
    font-size: 9px;
    border: 1px solid;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
}

.done{
    color: #00C1A5;
}